<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testng.amazonp1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>nolessthanten</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>alphabets</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HomePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>nogreaterthanten</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidMobile</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
