<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9381af">  <td>23/04/27 17:23:56</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;amazonp1.After()[pri:0, instance:testng.amazonp1@478190fc]">&lt;&lt;After</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/04/27 17:23:46</td>   <td>-9562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazonp1.HomePage()[pri:0, instance:testng.amazonp1@478190fc]">HomePage</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/04/27 17:23:39</td>   <td>-16735</td> <td>&nbsp;</td><td title="&gt;&gt;amazonp1.Start()[pri:0, instance:testng.amazonp1@478190fc]">&gt;&gt;Start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/04/27 17:23:47</td>   <td>-8492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazonp1.ValidEmail()[pri:0, instance:testng.amazonp1@478190fc]">ValidEmail</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/04/27 17:23:49</td>   <td>-6754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazonp1.ValidMobile()[pri:0, instance:testng.amazonp1@478190fc]">ValidMobile</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/04/27 17:23:51</td>   <td>-4378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazonp1.alphabets()[pri:0, instance:testng.amazonp1@478190fc]">alphabets</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/04/27 17:23:53</td>   <td>-3028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazonp1.nogreaterthanten()[pri:0, instance:testng.amazonp1@478190fc]">nogreaterthanten</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/04/27 17:23:54</td>   <td>-1500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazonp1.nolessthanten()[pri:0, instance:testng.amazonp1@478190fc]">nolessthanten</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
