<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9381af">  <td>23/02/16 15:27:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="preethi.landing(java.lang.String,java.lang.String)[pri:0, instance:testng.preethi@3e58a80e]">landing</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/02/16 15:27:42</td>   <td>-11904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="preethi.addToCart(java.lang.String,java.lang.String)[pri:0, instance:testng.preethi@3e58a80e]">addToCart</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/02/16 15:27:37</td>   <td>-16969</td> <td>&nbsp;</td><td title="&gt;&gt;preethi.before()[pri:0, instance:testng.preethi@3e58a80e]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/02/16 15:28:17</td>   <td>22662</td> <td>&nbsp;</td><td title="&lt;&lt;preethi.After()[pri:0, instance:testng.preethi@3e58a80e]">&lt;&lt;After</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>23/02/16 15:28:05</td>   <td>11186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="preethi.productselect(java.lang.String,java.lang.String)[pri:0, instance:testng.preethi@3e58a80e]">productselect</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
